.NavBar {
	display: flex;
	width: 80%;
	margin: 1.5rem auto;
	padding: 0;
	list-style-type: none;
}

.NavBar li {
	border-top: 7px solid white;
	margin-right: 2rem;
	font-size: 1.3rem;
}

.NavBar li:hover {
	cursor: pointer;
	border-top: 7px solid rgb(224, 221, 221);
}

.NavLink {
	text-decoration: none;
	color: black;
}

@media only screen and (max-width: 480px) {
	.NavBar {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.NavLink {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 481px) {
	.NavBar {
		width: 100%;
	}
	.NavLink {
		font-size: 1.5rem;
	}
}
